# top-most EditorConfig file
root = true

# all files
[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

# go files
[*.go]
indent_style = tab
indent_size = 4
