[alias]
	l=log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	s=status -sb
	a=git add .
	c=commit -m
	pl=pull
	ps=push
	co=checkout
	cob=checkout -b
	b=branch
	ba=branch -a
	bd=branch -d
	bD=branch -D
	dc=diff --cached
[user]
	name = hhp1614
	email = hhp1614@gmail.com
[https]
	proxy = socks5://127.0.0.1:1081
[http]
	proxy = socks5://127.0.0.1:1081
